<script>
  import Accordion from '$lib/components/Accordion.svelte';
</script>

<section class="container">
  <Accordion title="Study" innerContent="Responsible for questions related to studying">
    <div slot="children" class="contact-info">
      <div class="contact-info__name">
        <h5>Austin Effertz</h5>
        <img
          src="images/woman-placeholder.svg"
          alt="Woman portrait placeholder"
          width="200"
          height="200"
        />
      </div>
      <div class="contact-info__detail">
        <label>Telephone: <input type="tel" value="0123456789" readonly /></label>
        <label>Email: <input type="email" value="austin@fh-dortmund.de" readonly /></label>
      </div>
    </div>
  </Accordion>

  <Accordion title="Examination" innerContent="Responsible for questions related to exam">
    <div slot="children" class="contact-info">
      <div class="contact-info__name">
        <h5>Noemie Flatley</h5>
        <img
          src="images/woman-placeholder.svg"
          alt="Woman portrait placeholder"
          width="200"
          height="200"
        />
      </div>
      <div class="contact-info__detail">
        <label>Telephone: <input type="tel" value="0123456789" readonly /></label>
        <label>Email: <input type="email" value="noemie@fh-dortmund.de" readonly /></label>
      </div>
    </div>
  </Accordion>

  <Accordion title="Advisory" innerContent="You can ask advise about student life, etc.">
    <div slot="children" class="contact-info">
      <div class="contact-info__name">
        <h5>Jane Jones</h5>
        <img
          src="images/woman-placeholder.svg"
          alt="Woman portrait placeholder"
          width="200"
          height="200"
        />
      </div>
      <div class="contact-info__detail">
        <label>Telephone: <input type="tel" value="0123456789" readonly /></label>
        <label>Email: <input type="email" value="jane@fh-dortmund.de" readonly /></label>
      </div>
    </div>
  </Accordion>
</section>

<style>
  .contact-info {
    display: flex;
    justify-content: flex-start;
  }

  .contact-info__name {
    min-width: 30%;
  }

  .contact-info__detail {
    min-width: 40%;
  }

  .contact-info__detail input {
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
</style>
