<script>
  import Accordion from '$lib/components/Accordion.svelte';
  import * as faqJson from '$lib/data/faq.json';
</script>

<main>
  <h1>FAQ</h1>
  <input class="u-full-width" type="text" placeholder="Type your question ..." />
</main>

<section class="topic-quick-links">
  <a class="button" href="#new-student-faq">New Student</a>
  <a class="button" href="#accomodation-faq">Accomodation</a>
  <a class="button" href="#education-faq">Education</a>
  <a class="button" href="#job-career-faq">Job & Career</a>
</section>

<section id="new-student-faq">
  <h2>New Student</h2>
  {#each faqJson.default as item}
    <Accordion title={item.Question} innerContent={item.Answer} />
  {/each}
</section>

<section id="accomodation-faq">
  <h2>Accommodation</h2>

  <Accordion
    title="How can I find a place?"
    innerContent="You can find accomodation online via website https://www.wg-gesucht.de/"
  />
  <Accordion
    title="Eos numquam culpa et ipsum vel aut et."
    innerContent="Voluptas impedit sequi et veniam. Distinctio dolor quia maxime veritatis minima voluptatum impedit voluptatem provident. Sunt minus culpa minima modi id voluptatem recusandae amet. Natus et architecto sed ipsam eveniet veritatis et aspernatur."
  />
  <Accordion
    title="Odit ratione unde similique consectetur."
    innerContent="Et voluptate eius consequatur ea ducimus nam quo magnam enim. Eos dicta quibusdam et enim assumenda nostrum eum rem. Dolorum voluptas reiciendis aut inventore libero. Quia quia non labore."
  />
</section>

<section id="education-faq">
  <h2>Education</h2>

  <Accordion title="How can I register exam?" innerContent="You can register exam via portal" />
  <Accordion
    title="Magni eos at quibusdam a magni non."
    innerContent="Aut dolorem ad dicta. Officiis culpa labore. Sint vitae illo iste beatae excepturi ut repellendus molestiae."
  />
  <Accordion
    title="Eos nihil a est itaque eius fugit est distinctio."
    innerContent="Quia et commodi. Dolor sequi rerum. Corporis excepturi sit iste necessitatibus perspiciatis dolor est libero. Amet deserunt laborum aut aut optio quae et labore magnam."
  />
</section>

<section id="job-career-faq">
  <h2>Job & Career</h2>

  <Accordion
    title="How many hours per week I am allowed to work?"
    innerContent="Usually you can work maximum 20 hours per week. In the semester break, you can work up to 40 hours per week"
  />
  <Accordion
    title="Laboriosam temporibus quis animi dolor aliquam blanditiis quibusdam libero aliquid."
    innerContent="Velit velit minima aut voluptatum. Commodi et eius dolores sed facilis minima explicabo. Vel ut et error. Sed id voluptatum aut atque libero eos velit possimus tempore."
  />
  <Accordion
    title="Iste magni architecto iure similique libero fugit."
    innerContent="Voluptatem dolores quidem consectetur dolores velit quia dolores. Ut dolore ullam rerum numquam. Vel omnis ipsum eos voluptas. Fugiat voluptas dolores voluptatum consequatur perspiciatis aspernatur ut perferendis. Earum fugit rerum doloremque dolores et nesciunt dignissimos. Facere et sed velit nihil."
  />
</section>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  section {
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  .topic-quick-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: 768px) {
    main {
      max-width: none;
    }

    section {
      max-width: none;
    }

    .topic-quick-links {
      flex-direction: row;
    }

    .topic-quick-links .button {
      margin-right: 5px;
    }
  }

  @media (min-width: 992px) {
    main {
      max-width: 80%;
    }

    section {
      max-width: 80%;
    }
  }
</style>
