<script>
  let currentState = 'login';

  function changeState(newState) {
    currentState = newState;
  }
</script>

<div class="login-page">
  <div class="form-box">
    <div class="button-box">
      <button type="button" on:click={() => changeState('login')} class="button toggle-btn"
        >Log In</button
      >
      <button type="button" on:click={() => changeState('register')} class="button toggle-btn"
        >Register</button
      >
    </div>

    {#if currentState === 'login'}
      <form id="login" class="input-group-login">
        <input type="email" class="input-field" placeholder="Email" required />
        <input type="password" class="input-field" placeholder="Password" required />
        <button type="submit" class="button submit-btn">Log in</button>
      </form>
    {:else}
      <form id="register" class="input-group-register">
        <input type="text" class="input-field" placeholder="First Name" required />
        <input type="text" class="input-field" placeholder="Last Name " required />
        <input type="email" class="input-field" placeholder="Email" required />
        <input type="password" class="input-field" placeholder="Enter Password" required />
        <input type="password" class="input-field" placeholder="Confirm Password" required />
        <div class="checkbox-wrap">
          <input type="checkbox" id="term-condition" name="term-condition" required /><label
            for="term-condition">I agree to the terms and conditions</label
          >
        </div>
        <button type="submit" class="button submit-btn">Register</button>
      </form>
    {/if}
  </div>
</div>

<style>
  .form-box {
    width: 380px;
    height: 480px;
    margin: 2% auto;
    border: 1px solid #f3c693;
    padding: 25px;
    overflow: hidden;
  }
  .button-box {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 35px auto;
    background-color: #f3c693;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
  }
  .toggle-btn {
    width: 150px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 30px;
    margin: 0;
  }
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  .submit-btn {
    width: 85%;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    background: #f3c693;
    border: 0;
    outline: none;
    border-radius: 30px;
    line-height: normal;
  }

  .checkbox-wrap {
    display: flex;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  label {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 0;
  }
</style>
