<script>
  import { slide } from 'svelte/transition';

  export let title = '';
  export let innerContent = '';

  let isOpen = false;
</script>

<div class="accordion">
  <div
    class="accordion__title"
    on:click={() => {
      isOpen = !isOpen;
    }}
  >
    <h4>
      <i />
      <p class="accordion__title-content">{title}</p>
    </h4>
  </div>
  {#if isOpen}
    <div class="accordion__inner" transition:slide>
      {#if innerContent}
      <p>
        {innerContent}
      </p>
      {/if}
      <slot name="children"></slot>
    </div>
  {/if}
</div>

<style>
  .accordion__title {
    position: relative;
    display: block;
    border-top: 1px solid var(--light-grey);
    margin-bottom: 6px;
  }

  .accordion__title h4 {
    margin: 0;
    letter-spacing: normal;
    cursor: pointer;
    font-weight: 300;
    text-transform: capitalize;
  }

  .accordion__title-content {
    padding: 25px 25px 14px;
    margin: 0;
  }

  .accordion__inner {
    padding: 7px 25px 10px 25px;
    margin: -7px 0 6px;
    font-weight: 200;
  }
</style>
