<script>

</script>

<section class="container">
    <h4>Ask a question</h4>

    <label for="title-input">
        Title
        <p class="sub-label">Be specific and imagine you’re asking a question to another person</p>
    </label>
    <input id="title-input" type="text">

    <label for="body-input">
        Content
        <p class="sub-label">Include all the information would need to answer your question</p>
    </label>
    <textarea id="body-input" rows="10"></textarea>

    <button class="button button-primary">Submit</button>
</section>

<style>
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: auto;
    }

    .sub-label {
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 0;
    }
</style>